footer
{
    border:1px solid #FFEBB4;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    display: flex; 
    background-color: #C58940;
}
.About
{
   margin-top: 60px; 
   margin-left: 150px; 
   color:black;
}
 .connect
{
    margin-top: 40px; 
    margin-left: 300px; 
    
}
/* .contactnumber{
    margin-top: -40px;
    height:20px;
     
} */
/* .paragraph{
    font-size: 14px;
    margin-left: 10px;
    text-align: left;
}
.paragraph1{
    margin-top: 2px;
    font-size: 14px;
    margin-left: 10px;
    text-align: left;
} */
.Google{
    margin-left: 0px;
    font-size: 12px;
    color: black;
    /* text-align: justify; */
}
.contact
{
    margin-top: 40px; 
    margin-left: 300px; 
    
}
.contactNumber{
    height: 18px;
    width: 18px;
    margin-top: 15px;
    display: flex;
   
}
.contactnumber{
    height: 18px;
    width: 18px;
    margin-top: 0px;
   
}

.facebookImage
{
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-right: 10px;
}
